<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Bitcoin Blocksizes</title>
<base href="<%- baseUrl %>">
<script src="static/js/bitcore-lib/bitcore-lib.js"></script>
<style>
body {
  font-family: Ubuntu;
  text-align: center;
  transition: background-color 1s;
}
h1 {
  font-weight:200;
  font-size:48px;
}
h2 {
  font-weight:200;
  font-size:32px;
}
#balance {
  margin-top:40px;
  font-size:48px;
}
#recent {
}
#recent > li {
  margin-bottom:20px;
}
</style>
<script language="javascript">
  $(document).ready(function() {
    var bitcore = require('bitcore-lib');
  });
</script>
</head>

<body>
  <h1>Bitcoin Blocksizes</h1>
</body>
</html>
